/**--------------------					
 * --- SMALL SCREEN --- //
 * --------------------					
 */

html {
	background-color: #151524;
	color: #fff;
	font-family: "Open Sans", sans-serif;
}

h1 {
	font-size: 2rem;
}

body {
	margin: 0;
}

/**-----------------------------					
 * ------ MAIN NAVIGATION ------ //
 * -----------------------------					
 */

nav {
	position: fixed;
	width: 100%;
	backdrop-filter: blur(6px);
}

.nav_burger {
	display: block;
	height: 6rem;
	border-bottom: 1px solid #505050;
	background-color: rgba(21,21,36,0.85);
}

.nav_item {
	text-align: center;
	text-decoration: none;
	display: block;
	background-color: rgba(21,21,36,0.85);
	color: #D3D3D3;
	padding: 0;
	line-height: 3rem;
	border-bottom: 1px solid #505050;
	width: 100%;
}

#navBurgerSVG {
	position: fixed;
	height: 2rem;
	padding: 0.5rem;
	filter: invert(80%);
}

/* hover animations */

#navBurgerSVG:hover {
	filter: invert(100%);
}

.nav_item:hover {
	filter: invert(100%);
}

/**--------------------					
 * ------ SKILLS ------ //
 * --------------------					
 */

#introSection {
	padding-top: 10rem;
	padding-bottom: 10rem;
}

.viewing_section {
	width: 90%;
	padding-bottom: 2rem;
	margin: 0 auto;
}

#skillList {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.skill_list_left {
  flex: 50%;
  text-align: center;
}

.skill_list_right {
  flex: 50%;
  text-align: center;
}

.lang_logo {
	float: left;
	height: 3rem;
	padding: 5px;
	margin: 0.1rem;
	filter: invert(100%);
}

.skill_li {
	display: block;
	width: 100%;
}
