/**------------------------------------------------------
 * --- SMALL SCREEN --- SMALL SCREEN --- SMALL SCREEN --- //
 * ------------------------------------------------------
 */

/* --- MAIN PAGE SETUP --- */

html {
	background-color: #151524;
	color: #fff;
	font-family: "Open Sans", sans-serif;
}

h1 {
	font-size: 2rem;
}

body {
	margin: 0;
}

/* --- MAIN NAVIGATION MENU --- */

nav {
	position: fixed;
	width: 100%;
	backdrop-filter: blur(6px);
	z-index: 1;
}

.nav_icon {
	display: block;
	height: 3rem;
	border-bottom: 1px solid #505050;
	background-color: rgba(21,21,36,0.85);
}

.nav_item {
	text-align: center;
	text-decoration: none;
	display: none;
	background-color: rgba(21,21,36,0.85);
	color: #D3D3D3;
	padding: 0;
	line-height: 3rem;
	border-bottom: 1px solid #505050;
	width: 100%;
}

.nav_img {
	position: fixed;
	right: 0;
	height: 2rem;
	width: 2rem;
	padding: 0.5rem;
	filter: invert(80%);
}

#navHomeSVG {
	left: 0;
}

/* hover animations */

.nav_img:hover {
	filter: invert(100%);
}

.nav_item:hover {
	filter: invert(100%);
}

/* --- SKILLS SECTION --- */

#introSection {
	padding-top: 10rem;
	padding-bottom: 10rem;
}

.viewing_section {
	width: 90%;
	padding-bottom: 2rem;
	margin: 0 auto;
}

#skillList {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.skill_list_left {
  flex: 50%;
  text-align: center;
}

.skill_list_right {
  flex: 50%;
  text-align: center;
}

.lang_logo {
	float: left;
	height: 3rem;
	padding: 5px;
	margin: 0.1rem;
	filter: invert(100%);
}

.skill_li {
	display: block;
	width: 100%;
}
